// header
.header {
  background-color: $primary;
  width: 100%;
  padding: 5px 0;
  @include media-breakpoint-up(lg) {
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 0;
    z-index: 30;
  }
}

.header__logo {
  width: 120px;
  flex-basis: 120px;
  overflow: hidden;
  margin: 10px auto 0;
  padding: 0;
  display: block;

  a {
    width: 100%;
    height: 0;
    padding: 55px 0 0;
    display: block;
    overflow: hidden;
  }

  @include media-breakpoint-up(lg) {
    margin: 10px 20px 0;
  }
}

.header__icon {
  width: 30px;
  height: 20px;
  position: fixed;
  top: 26px;
  right: 20px;
  z-index: 20;
  cursor: pointer;
  &.js-active {
    .header__menu-icon-line {
      animation-duration: 0.5s;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
      &:first-child {
        animation-name: menu-line-top;
      }
      &:nth-child(2) {
        animation-name: menu-line-middle;
      }
      &:last-child {
        animation-name: menu-line-bottom;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.header__menu-icon-line {
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #000;

  &:first-child {
    top: 0;
  }

  &:nth-child(2) {
    top: 10px;
  }

  &:last-child {
    bottom: 0;
  }
}

@keyframes menu-line-top {
  0% {
    top: 0;
  }
  30% {
    top: 10px;
  }
  60% {
    top: 10px;
  }
  100% {
    top: 9px;
    transform: translateY(0px) rotate(45deg);
    background-color: #fff;
  }
}

@keyframes menu-line-middle {
  0% {
    top: 10px;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes menu-line-bottom {
  0% {
    bottom: 0;
  }
  30% {
    bottom: 10px;
  }
  60% {
    bottom: 10px;
  }
  100% {
    bottom: 9px;
    transform: translateY(0px) rotate(-45deg);
    background-color: #fff;
  }
}

.header__menu {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  padding: 40px 20px 0;
  z-index: 10;
  @include media-breakpoint-up(lg) {
    background-color: transparent;
    position: static;
    left: 0;
    height: auto;
    padding: 0 20px;
  }
}

.header__menu-items {
  list-style-type: none;
  margin: 0;
  padding: 40px 0 0;
  height: 100%;
  text-align: center;
  @include media-breakpoint-up(lg) {
    display: inherit;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 0;
  }
}

.header__menu-item {
  margin-bottom: 20px;
  font-size: 18px;
  transition: 0.2s ease-out;
  &:last-child {
    .header__menu-item-link {
      background-color: $info;
      color: #fff;
      border-radius: 4px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
    margin-left: 20px;
    font-size: 15px;
    &:last-child {
      margin-left: 40px;
      .header__menu-item-link {
        background-color: $info;
        color: #fff;
        border-radius: 4px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}

.header__menu-item-link {
  color: #fff;
  padding: 10px 0;
  display: block;
  &:hover {
    text-decoration: none;
    color: #fff;
  }
  @include media-breakpoint-up(lg) {
    color: inherit;
    &:hover {
      color: $gray-600;
    }
  }
}


// footer
.footer {
  padding: 0 0 20px;
  text-align: center;
  font-size: 14px;
  .btn {
    font-size: 14px;
  }
  @include media-breakpoint-up(md) {
    padding-bottom: 10px;
  }
}


.footer-copyright {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.05em;
  color: $gray-500;
  @include media-breakpoint-up(md) {
    padding-left: 15px;
  }
}
