header.header
  .header__icon
    span.header__menu-icon-line
    span.header__menu-icon-line
    span.header__menu-icon-line
  .container.d-lg-flex.justify-content-between.align-items-center
    h1.header__logo
      a(href="./") タイトル
    nav.header__menu
      ul.header__menu-items.d-lg-flex.justify-content-end.align-items-center
        li.header__menu-item
          a.header__menu-item-link(href="") メニュー1
        li.header__menu-item
          a.header__menu-item-link(href="") メニュー2
        li.header__menu-item
          a.header__menu-item-link(href="") メニュー3
        li.header__menu-item
          a.header__menu-item-link(href="") メニュー4
        li.header__menu-item
          a.header__menu-item-link(href="") メニュー5

